@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: beige
}
.container p {
    font-size: 4rem;
    font-weight: bold;
    color: #007bff;
    text-shadow: 2px 2px #cccccc;
    transform: rotate(-2deg);
    background: linear-gradient(45deg, #ff0066, #ffcc00);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    border: 2px solid #ff0066;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
    transition: all 0.3s ease;
}

.container p:hover {
    transform: rotate(2deg) scale(1.1);
    color: #ff0066;
    background: linear-gradient(45deg, #007bff, #ffcc00);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    box-shadow: 0 0 15px rgba(255, 0, 102, 0.7);
}

.container{
    text-align: center;
    margin: auto;
    margin-top: 10rem;
    width: 600px;
}
.container input{
    margin-bottom: 3rem;
    width: 500px;
    height: 50px;
    border-radius: 1rem;
    font-size: 2rem;
    transition: transform 0.5s;
    background-color: rgb(176, 226, 210);
    font-family: "Bebas Neue", sans-serif;

}
input:focus{
    transform: scale(1.2);
}
.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
}
.buttons button{
    font-size: 2rem;
    width: 6rem;
    height: 5rem;
    transition: transform 0.3s, background-color 0.3s, color 0.3s;
    border-radius: 1rem;    
    font-family: "Bebas Neue", sans-serif;
}
.buttons .big {
    height: 11rem;
}

button:hover{
    transform: scale(1.3);
    background-color: black;
    color: white;
}
.big{
    grid-row: 2 span;
}

#stack {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 2rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 14rem;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #007bff;
    color: white;
}