body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    text-align: center;
    margin: auto;
    margin-top: 10rem;
    width: 200px;
}
.container input{
    margin-bottom: 3rem;
    
}
.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.big{
    grid-column: 2 span;
}